<a href="https://colab.research.google.com/github/alneum/ds/blob/main/ml_1lection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Учебные курсы факультета компьютерных наук

http://wiki.cs.hse.ru/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0

Лекция 1. Pandas. Открытый курс OpenDataScience по машинному обучению mlcourse.ai

https://youtu.be/dEFxoyJhm3Y

Ноутбуки занятий

https://github.com/Yorko/mlcourse.ai/tree/master/jupyter_russian/topic01_pandas_data_analysis

Домашнее задание

https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_russian/assignments_demo/assignment01_adult_pandas.ipynb

1.

Основными структурами данных в Pandas являются классы Series и DataFrame. Первый из них представляет собой одномерный индексированный массив данных некоторого фиксированного типа. Второй - это двухмерная структура данных, представляющая собой таблицу, каждый столбец которой содержит данные одного типа. Можно представлять её как словарь объектов типа Series. Структура DataFrame отлично подходит для представления реальных данных: строки соответствуют признаковым описаниям отдельных объектов, а столбцы соответствуют признакам.

In [1]:
import pandas as pd
import numpy as np

In [4]:
churn = pd.read_csv("./churn.csv")

In [5]:
churn.head()

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0    KS             128        415  ...        2.70              1  False.
1    OH             107        415  ...        3.70              1  False.
2    NJ             137        415  ...        3.29              0  False.
3    OH              84        408  ...        1.78              2  False.
4    OK              75        415  ...        2.73              3  False.

[5 rows x 21 columns]

In [6]:
print(churn.shape) #Посмотрим на размер данных

(3333, 21)

In [7]:
print(churn.columns) #Выведем названия столбцов

Index(['State', 'Account Length', 'Area Code', 'Phone', 'Int'l Plan',
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge',
       'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls',
       'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls', 'Churn?'],
      dtype='object')

In [8]:
print(churn.info()) #Чтобы посмотреть общую информацию по датафрейму и всем признакам, воспользуемся методом info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           3333 non-null   object
 1   Account Length  3333 non-null   int64
 2   Area Code       3333 non-null   int64
 3   Phone           3333 non-null   object
 4   Int'l Plan      3333 non-null   object
 5   VMail Plan      3333 non-null   object
 6   VMail Message   3333 non-null   int64
 7   Day Mins        3333 non-null   float64
 8   Day Calls       3333 non-null   int64
 9   Day Charge      3333 non-null   float64
 10  Eve Mins        3333 non-null   float64
 11  Eve Calls       3333 non-null   int64
 12  Eve Charge      3333 non-null   float64
 13  Night Mins      3333 non-null   float64
 14  Night Calls     3333 non-null   int64
 15  Night Charge    3333 non-null   float64
 16  Intl Mins       3333 non-null   float64
 17  Intl Calls      3333 non-null   int64
 18  Intl Charge     3333 non-null   float64
 19  CustServ Calls  3333 non-null   int64
 20  Churn?          3333 non-null   object
dtypes: float64(8), int64(8), object(5)
memory usage: 546.9+ KB
None

In [9]:
churn.describe() #Метод describe показывает основные статистические характеристики данных по каждому числовому признаку (типы int64 и float64): 
                 #число непропущенных значений, среднее, стандартное отклонение, диапазон, медиану, 0.25 и 0.75 квартили.

       Account Length    Area Code  ...  Intl Charge  CustServ Calls
count     3333.000000  3333.000000  ...  3333.000000     3333.000000
mean       101.064806   437.182418  ...     2.764581        1.562856
std         39.822106    42.371290  ...     0.753773        1.315491
min          1.000000   408.000000  ...     0.000000        0.000000
25%         74.000000   408.000000  ...     2.300000        1.000000
50%        101.000000   415.000000  ...     2.780000        1.000000
75%        127.000000   510.000000  ...     3.270000        2.000000
max        243.000000   510.000000  ...     5.400000        9.000000

[8 rows x 16 columns]